body {
  font-family: Arial, sans-serif;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

label {
  font-weight: bold;
  margin-bottom: 10px;
  display: inline-block;
}

input[type="text"],
input[type="password"] {
  align-items: center;
  width: 93%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: #4c56af;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #4c56af;
}

p {
  margin-top: 15px;
  text-align: center;
}

a {
  color: #4c56af;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p.message {
  color: red;
}

.success {
  color: green; 
}

.error {
  color: red;
}