
.pet-form-container {
  width: 50%; /* Form takes 50% of the width */
  padding-right: 20px; /* Space between form and image */
  padding-top: 30px;
  min-width: 300px;
  max-height: 500px;
}

h2 {
  text-align: center; /* Centers the text */
  font-size: 24px; /* Adjust font size as needed */
  color: #241b1b; /* Darker, contrasting color for better readability */
  margin-bottom: 2em; /* Adds spacing below the heading */
}

.pet-form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  
}

.form-group {
  margin-bottom: 10px;
  display: flex; /* Added to allow better alignment of label and input */
  flex-direction: column; /* Keep label above input */
}

.form-select {
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex; /* Added to allow better alignment of label and input */
  flex-direction: column; /* Keep label above input */
}

label {
  font-weight: bold;
  color: #decdcd;
  margin-bottom: 5px;
}

/* Adjust input and select styles */
input, select {
  padding: 10px;
  border: 1px solid #6f4c3e;
  border-radius: 5px;
  font-size: 14px;
  background-color: #867456;
  max-width: 300px; /* Set a maximum width for input fields*/
  width: 100%; /* Make input fields full width relative to max-width */
  margin-top: 5px; /* Add a bit of space above the input */
}

.pet-image-container img {
  max-width: 100%;
  border-radius: 10px; /* Rounded corners for the image */
}
