.pet-image-container {
    width: 504px; /* Keep this width consistent with the form */
    height: 400px; /* Adjust height to your preference */
    min-width: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column; /* Center content horizontally */
    justify-content: center; /* Push the image towards the bottom */
    background-position: center;
    width: 504px;
    height: 430px;
    position: relative;
    

}

/* Styling for the pet image itself */
.pet-image {
    max-width: 0%; /* Make the image smaller to fit well */
    height: auto;
    display: block; /* Make sure the image is block to center */

}

/* Styling for the pet name */
.petBuddy {
    color: black;
    text-align: center;
    margin-bottom: 10px;
}
