/* Adjusted container layout for side-by-side structure */
.pet-page-container {
  display: flex;
  position: relative; /* Parent element is now relative */
  justify-content: space-between;
  width: 90%;
  max-width: 800px;
  min-width: 800px;
  margin: 90px auto;
  padding: 30px;
  background-color: rgba(50, 50, 50, 0.3);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Form section styling */
.pet-form-container {
  width: 35%; /* Take 45% of the width for the form */
  background-color: rgba(44, 44, 42, 0.438);;
  padding: 20px;
  border-radius: 10px;
  max-width: 350px;
}

/* Image section styling */
.pet-image-container {
  width: 50%; /* Take 45% of the width for the image */
  height: 40%;
  max-width: 500px;
  border-radius: 10px;
  display: flex;
  padding: 30px 0 0 0;
  justify-content: center;
  align-items: center;
}


/* Button style consistent with MainPage */
.submitbuttonpet {
  background-color: rgba(161, 105, 138, 0.379);
  margin-top: 20px;
  padding: 10px 20px;
  color: white;
  outline: 1px solid #efefef;
  outline-offset: -3px;
  text-shadow: 1px 1px 0px #000, -1px -1px 0px #000, 1px -1px 0px #000, -1px 1px 0px #000;
}
