body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #e0e0e0;
  margin: 0;
  line-height: 1.6;
  overflow-x: hidden; /* Verhindert horizontales Scrollen */
  box-sizing: border-box; /* Inkludiere Padding und Border in der Breite */
}

/* Um sicherzustellen, dass das Box-Sizing auf alle Elemente angewendet wird */
*, *:before, *:after {
  box-sizing: inherit;
}

.login-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%; 
}

/* Container Register Componente */
.register-container {
  max-width: 1000px;
  margin: 0 auto; /* Horizontale Zentrierung */
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertikal zentrieren */
  align-items: center; /* Horizontal zentrieren */
  height: 100vh; /* Vollständige Höhe des Viewports für Zentrierung */
}


.app {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertikal zentrieren */
  align-items: center; /* Horizontal zentrieren */
  min-height: 100vh; /* 100% der Höhe */
  padding: 2rem;
  background-color: #121212;
  width: 100%;
  position: relative; /* Absolute Positionierung */
}

.logo {
  font-size: 3rem;
  color: #e0e0e0; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Schatteneffekt */
  transition: transform 0.3s ease; /* Übergangseffekt */
  margin-bottom: 30px;
  text-align: center;
}

.logo:hover {
  transform: scale(1.1); /* Vergrößert das Logo beim Hover */
}

/* Stil für Formulare */
form {
  background-color: #1f1f1f;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  width: 80%;
  max-width: 400px;
  margin: 5px 0;
  display: flex;
  flex-direction: column;
}

/* Stil für Labels */
label {
  font-weight: bold;
  margin-bottom: 10px;
  display: inline-block;
  color: #e0e0e0;
}

/* Stile für Eingabefelder */
input[type="text"],
input[type="email"],
input[type="password"] {
  background-color: #333333;
  color: #e0e0e0;
  border: 1px solid #444444;
  width: 95%;
  padding: 10px;
  margin: center;
  border-radius: 4px;
  transition: border-color 0.3s; /* Übergang für den Rahmen */
}

/* Eingabefelder im Fokus */
input:focus {
  border-color: #66bb6a; /* Farben ändern, wenn das Eingabefeld fokussiert ist */
  outline: none; /* Entferne den Standard-Outline */
}

/* Stil für Formular - Buttons */
.register-button, .login-button {
  width: 100%;
  padding: 1rem;
  background-color: #555555;
  color: #e0e0e0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s; /* Übergang für den Hintergrund */
  margin-top: 10px;
}

/* Button Hover-Effekt */
button:hover {
  background-color: #666666;
}

/* Loader-Stil */
.loader {
  border-top: 7px solid rgba(4, 168, 180, 1);
  border-right: 7px solid rgba(255, 181, 48, 1);
  border-bottom: 7px solid rgba(243, 88, 122, 1);
  border-left: 7px solid rgba(161, 102, 170, 1);
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 2s linear infinite;
}

/* Spinner Animation */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Loader-Container Stil */
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10px;
  margin-bottom: 20px;
}

p.message, .error {
  color: #ff5555;
}

.success {
  color: #55ff55;
}

p {
  margin-top: 15px;
  text-align: center;
  color: #e0e0e0;
}

a {
  color: #888888;
  text-decoration: none;
}

a:hover {
  color: #aaaaaa;
}

h2 {
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
  color: #e0e0e0;
}

/* Responsive Layout */
@media (max-width: 768px) {
  .loader-container, .register-container {
    max-width: 100%;
    padding: 10px;
  }

  form {
    padding: 20px;
  }
  .logo {
    font-size: 2.5rem; /* Kleinere Schriftgröße auf mobilen Geräten */
  }
  button {
    font-size: 14px;
  }
}

@media (max-width: 400px) {

  .loader-container, .register-container {
    max-width: 100%;
    padding: 10px;
  }

  .app {
    padding: 20px;
  }

  form {
    width: 100%; /* Maximale Breite auf sehr kleinen Bildschirmen */
    max-width: 100%;
  }

  button {
    font-size: 14px; /* Kleinere Schriftgröße für Buttons */
  }

  .logo {
    font-size: 2rem;
  }
}

.heart-button {
  background-color: transparent;
  border: none; 
  font-size: 40px;
  cursor: pointer; /* Cursor wird zur Hand */
  transition: transform 0.3s ease; 
  outline: none;
}

.heart-button:hover {
  transform: scale(1.2); /* Button vergrößern beim Hover */
  background-color: transparent;
}

.food-buttons {
  display: flex;
  gap: 10px; /* Abstand zwischen den Buttons */
  margin-top: 10px;
}

.food-button1,
.food-button2,
.food-button3 {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 40px;
  transition: transform 0.3s ease;
  outline: none;
  display: flex;
}

.food-button1:hover,
.food-button2:hover,
.food-button3:hover {
  transform: scale(1.2); /* Vergrößerung beim Hover */
  background-color: transparent;
}

.food-button1:disabled, .food-button2:disabled, .food-button3:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.progress-bar {
  width: 80%; 
  max-width: 400px;/* Optional, um zu verhindern, dass sie zu groß wird */
  background-color: #ddd;
  border-radius: 10px;
  height: 20px;
  position: relative; /* Für den Schatten */
  overflow: hidden; /* Verhindert Überlauf */
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.4); /* Innerer Schatten */
}

.progress {
  height: 100%;
  background-color: #4caf50;
  border-radius: 10px;
  transition: width 0.5s ease-in-out;
}

.percentage {
  position: absolute; /* Absolute Positionierung */
  left: 50%; /* Zentriert horizontal */
  top: 50%; /* Zentriert vertikal */
  transform: translate(-50%, -50%); /* Korrektur für die zentrierte Position */
  color: rgb(5, 5, 5); /* Textfarbe */
  font-weight: bold; /* Fettdruck für den Text */
}

/* Level-Status Links Oben */
.level-status {
  position: absolute;
  top: 10px;
  left: 20px; /* Verschieben nach links */
  font-size: 18px;
  background-color: transparent;
  color: #a0430e;
  display: block;
  margin-bottom: 10px;
}

.affection-container {
  position: absolute;
  bottom: 20px; /* Positionierung nach unten */
  right: 20px;  /* Positionierung nach rechts */
  display: flex;
  flex-direction: column; /* Elemente untereinander anordnen */
  align-items: center; /* Zentriert die Kinder horizontal */
}

.hunger-container {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.pet-container {
  position: relative; /* relative positioniert, damit child Elemente absolut positioniert werden können */
  width: 100%; 
  height: 100%; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
